* {
  box-sizing: border-box;
}

:root {
  --header-height: 4rem;
}

html {
  scrollbar-color: auto #fff;
}

body {
  margin: 0;
  background-color: #fff !important;
  overflow-y: scroll;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* pages other than projects are fixed & we flexbox-grow the main div */
.fixedpage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

/* chrome scrollbar all white */
::-webkit-scrollbar {
    background: #fff;
}
